[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target network-online.target securetmp.service
[Service]
Type=notify
PIDFile=/opt/cpanel/ea-php74/root/var/run/php-fpm/php-fpm.pid
EnvironmentFile=/opt/cpanel/ea-php74/root/etc/sysconfig/php-fpm
ExecStart=/opt/cpanel/ea-php74/root/usr/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true
LimitNOFILE=infinity
[Install]
WantedBy=multi-user.target