[Unit]
Description=Cleanup udevd DB
DefaultDependencies=no
ConditionPathExists=/etc/initrd-release
Conflicts=systemd-udevd.service systemd-udevd-control.socket systemd-udevd-kernel.socket
After=systemd-udevd.service systemd-udevd-control.socket systemd-udevd-kernel.socket
Before=initrd-switch-root.target
[Service]
Type=oneshot
ExecStart=-/usr/bin/udevadm info --cleanup-db