[Unit]
Description=MariaDB 10.6.21 database server (socket activation extra port multi-instance %I)
Documentation=man:mariadbd(8)
Documentation=https://mariadb.com/kb/en/library/systemd/
[Socket]
Service=mariadb@%i.service
FileDescriptorName=extra
ListenStream=@mariadb-extra-%I
ListenStream=/var/lib/mysql/mysql.sock-extra-%I