[Unit]
Description=Remote Encrypted Volumes
Documentation=man:systemd.special(7)
After=remote-fs-pre.target cryptsetup-pre.target
DefaultDependencies=no
Conflicts=shutdown.target
[Install]
WantedBy=multi-user.target