[Unit]
Description=initctl Compatibility Daemon
Documentation=man:systemd-initctl.service(8)
DefaultDependencies=no
[Service]
NotifyAccess=all
ExecStart=/usr/lib/systemd/systemd-initctl
SystemCallArchitectures=native