# -*- mode: conf -*-

[Unit]
Description=Apache exporter
Documentation=https://github.com/Lusitaniae/apache_exporter
After=network.target

[Service]
EnvironmentFile=/usr/local/lp/etc/exporters/apache_exporter
User=systuser
ExecStart=/usr/local/lp/opt/exporters/apache_exporter/apache_exporter $ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
