[Unit]
Description=clamd antivirus daemon
ConditionPathExists=!/etc/clamddisable
After=network-online.target
[Service]
Type=simple
TimeoutSec=300
EnvironmentFile=/etc/sysconfig/exim
ExecStart=/usr/local/cpanel/3rdparty/bin/clamd -F
Restart=always
RestartSec=30
[Install]
WantedBy=multi-user.target