[Unit]
Description=cPanel Log services
After=cpanel.service

[Service]
Type=forking
PIDFile=/var/run/cpanellogd.pid
ExecStart=/usr/local/cpanel/cpanellogd
ExecStop=/usr/local/cpanel/cpanellogd --stop
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
