[Unit]
Description=cPanel Analytics Daemon
After=cpanel.service
ConditionPathExists=/var/cpanel/feature_toggles/analytics
[Service]
Type=forking
PIDFile=/var/cpanel/analytics/run/cpanalyticsd.pid
ExecStart=/usr/local/cpanel/scripts/restartsrv_cpanalyticsd --notconfigured-ok --systemd-service=cpanalyticsd
ExecStop=/usr/local/cpanel/scripts/restartsrv_cpanalyticsd --stop --notconfigured-ok --systemd-service=cpanalyticsd
ExecReload=/usr/local/cpanel/scripts/restartsrv_cpanalyticsd --restart --notconfigured-ok --systemd-service=cpanalyticsd
KillMode=process
TimeoutStopSec=10
[Install]
WantedBy=multi-user.target