[Unit]
Description=cPanel fix quotas on boot
After=network.target network-online.target

ConditionFileIsExecutable=/usr/local/cpanel/scripts/fixquotas

[Service]
Type=oneshot
# want to run it once per boot time
RemainAfterExit=yes
ExecStart=/usr/local/cpanel/scripts/fixquotas --onboot

[Install]
WantedBy=multi-user.target
