[Unit]
Description=cPanel dav services
After=cpanel.service
ConditionPathExists=!/var/cpanel/dnsonly

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/run/cpdavd.pid
ExecStart=/usr/local/cpanel/etc/init/startcpdavd --no-verbose --systemd-service=cpdavd
ExecStop=/usr/local/cpanel/etc/init/stopcpdavd --no-verbose --systemd-service=cpdavd
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
