[Unit]
Description=cPanel brute force detector services
After=cpanel.service

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/run/cphulkd_processor.pid
ExecStart=/usr/local/cpanel/scripts/restartsrv_cphulkd --notconfigured-ok --systemd-service=cphulkd
ExecStop=/usr/local/cpanel/scripts/restartsrv_cphulkd --stop --notconfigured-ok --systemd-service=cphulkd
KillMode=process
StandardOutput=null
StandardError=null
StandardOutput=null
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
