[Unit]
Description=cPanel DNS admin service
After=cpanel.service
# dnsonly server

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/run/dnsadmin.pid
ExecStart=/usr/local/cpanel/scripts/restartsrv_dnsadmin --no-verbose --notconfigured-ok  --systemd-service=dnsadmin
ExecStop=/usr/local/cpanel/scripts/restartsrv_dnsadmin --stop --notconfigured-ok  --systemd-service=dnsadmin

[Install]
WantedBy=multi-user.target
