[Unit]
Description=Fastmail Services
After=network.target network-online.target
ConditionFileIsExecutable=/usr/local/cpanel/scripts/fastmail

[Service]
Type=oneshot
# each new start should run a new instance
RemainAfterExit=no
ExecStart=/usr/local/cpanel/scripts/fastmail --all

[Install]
WantedBy=multi-user.target
