[Unit]
Description=Check cPanel & WHM's 360 Monitoring application every day

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
