[Unit]
Description=Reinitialize cPanel & WHM's SEO application, accounting for license and feature status
Wants=initialize_xovi_plugin.timer

[Service]
Type=oneshot
ExecStart=/usr/local/cpanel/scripts/run_plugin_lifecycle --plugin cpanel-xovi-plugin --method install
StandardOutput=journal
