[Unit]
Description=Pure-FTPd
After=network.target
Wants=pure-authd.service
ConditionPathExists=!/etc/ftpddisable
ConditionPathExists=!/var/cpanel/dnsonly
[Service]
Type=simple
ExecStart=/usr/sbin/pure-config.pl /etc/pure-ftpd.conf
[Install]
WantedBy=multi-user.target