[Unit]
Description=cPanel Queue services

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/run/queueprocd.pid
ExecStart=/usr/local/cpanel/etc/init/startqueueprocd --no-verbose  --systemd-service=queueprocd
ExecStop=/usr/local/cpanel/etc/init/stopqueueprocd --no-verbose --systemd-service=queueprocd
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
