[Unit]
Description=securetmp service
ConditionFileIsExecutable=/usr/local/cpanel/scripts/securetmp
ConditionPathExists=!/var/cpanel/version/securetmp_disabled
Before=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/cpanel/scripts/securetmp --auto --nodaemonize

[Install]
WantedBy=multi-user.target
