[Unit]
Description=SMTP Tweak
ConditionPathExists=/var/cpanel/smtpgidonlytweak
ConditionPathExists=!/var/cpanel/dnsonly
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/cpanel/scripts/smtpmailgidonly start
ExecReload=/usr/local/cpanel/scripts/smtpmailgidonly refresh
ExecStop=/usr/local/cpanel/scripts/smtpmailgidonly stop

[Install]
WantedBy=multi-user.target
