[Unit]
Description=tailwatchd
After=cpanel.service queueprocd.service
# this is used by a DNS only server and should not block on /var/cpanel/dnsonly #

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/run/tailwatchd.pid
ExecStart=/usr/local/cpanel/scripts/restartsrv_tailwatchd --no-verbose --systemd-service=tailwatchd
ExecStop=/usr/local/cpanel/scripts/restartsrv_tailwatchd --stop --systemd-service=tailwatchd
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
